
.viewport {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.origin {
    position: absolute;
}

.tile {
    position: absolute;
    height: 256px;
    width: 256px;
}
